/**
 *  Arquivo de configuração css geral
 */

/*div do card principal*/
.center-div{
     position: absolute;
     margin: auto;
     align-self: center;
     top: 2%;
     right: 0;
     bottom: 0;
     left: 0;
}

/*card principal*/
.main-card{
     width: 400px
}

/*div do modal de erro*/
.div-error{
     height: 280px;
}

/*div do card principal*/
.magin-text-error{
     margin-top: 30%;
}

/*Definições gerais do body*/
body, html {
     height: 120%;
}