/**
 *  Arquivo de configuração css geral
 */

/*div do card principal*/
.center-div{
     position: absolute;
     margin: auto;
     align-self: center;
     background-size: 100% 100%;
     right: 0;
     bottom: 2%;
     left: 0;
     overflow-y: scroll;
     top: 1%;
}

/*card principal*/
.main-card{
     width: 30%;
     min-width: 200px;
     max-width: 500px;
}

/*div do modal de erro*/
.div-error{
     height: 280px;
}

/*div do card principal*/
.magin-text-error{
     margin-top: 30%;
}

/*Definições gerais do body*/
body, html {
     height: 120%;
}