.center-div{
     position: absolute;
     margin: auto;
     align-self: center;
     top: 10%;
     right: 0;
     bottom: 0;
     left: 0;
}

.ant-card-head{
     background-color: darkslategrey
}

.main-card{
     width: 300px
}

.div-error{
     height: 280px;
}

.magin-text-error{
     margin-top: 30%;
}

body, html {
     height: 100%;
}
   
.bg {
     background-image: url("bg.png");
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}